<%#encoding:UTF-8%><!DOCTYPE html>
<html<%= (attr? :nolang) ? nil : %( lang="#{attr :lang, 'en'}") %>>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=<%= attr :encoding %>">
<meta name="generator" content="Asciidoctor <%= attr 'asciidoctor-version' %>">
<meta name="viewport" content="width=device-width, initial-scale=1.0"><%
[:description, :keywords, :author, :copyright].each do |key|
  if attr? key %>
<meta name="<%= key %>" content="<%= attr key %>"><%
  end
end %>
<title><%= doctitle(:sanitize => true) || (attr 'untitled-label') %></title>
<!-- FontAwesome JS -->
<script defer src="/fontawesome/js/all.js"></script>
<!-- Plugin CSS -->
<link rel="stylesheet" href="/plugins/tiny-slider/tiny-slider.css">
<link id="theme-style" rel="stylesheet" href="/css/theme-9.css">
<link rel="stylesheet" href="/css/extensions.css">
<%= (docinfo_content = docinfo).empty? ? nil : %(
#{docinfo_content}) %>
</head>
<body<%= @id && %( id="#{@id}") %> class="<%= [(attr :doctype),((attr? 'toc-class') && (attr? :toc) && (attr? 'toc-placement', 'auto') ? %(#{attr 'toc-class'} toc-#{attr 'toc-position', 'left'}) : nil)].compact * ' ' %>"<%= (attr? 'max-width') ? %( style="max-width: #{attr 'max-width'};") : nil %>>

<header class="header text-center">
  <div class="force-overflow">
    <h1 class="blog-name pt-lg-4 mb-0">
      <a href="/">Tristan Juricek</a>
    </h1>
    <nav class="navbar navbar-expand-lg navbar-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
              aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div id="navigation" class="collapse navbar-collapse flex-column">
        <div class="profile-section pt-3 pt-lg-0">
          <img class="profile-image mb-3 rounded-circle mx-auto" src="/images/tj-profile.jpg" alt="Tristan Juricek head shot" >
          <div class="bio mb-3">
            Tristan Juricek is a software engineer, professionally, with a few random hobbies like
            woodworking and music.
          </div><!--//bio-->
        </div><!-- // profile-section -->
        <ul class="navbar-nav flex-column text-left">
          <li class="nav-item">
            <a class="nav-link" href="/index.html">
              <i class="fas fa-home fa-fw mr-2"></i>Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="mailto:mr.tristan@gmail.com">
              <i class="fas fa-envelope-open-text fa-fw mr-2"></i>Contact</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>

<div id="content" class="main-wrapper">
<article class="blog-post px-3 py-5 p-md-5">
  <div class="container single-col-max-width">
    <header class="blog-post-header">
      <h2 class="title mb-2"><%= doctitle %></h2>
    </header>
    <div class="blog-post-body">
      <%= content %>
    </div>
    <%
    unless !footnotes? || attr?(:nofootnotes) %>
      <div id="footnotes">
        <hr><%
        footnotes.each do |fn| %>
          <div class="footnote" id="_footnote_<%= fn.index %>">
            <a href="#_footnoteref_<%= fn.index %>"><%= fn.index %></a>. <%= fn.text %>
          </div><%
        end %>
      </div><%
    end %><%
    unless nofooter %>
      <div id="footer">
        <div id="footer-text">
        </div>
      </div><%
    end %>
  </div>
  </article>
</div><!--//main-wrapper-->
</body>
</html>
