<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7" lang="en-us"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie10 lt-ie9 lt-ie8" lang="en-us"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie10 lt-ie9" lang="en-us"> <![endif]-->
<!--[if IE 9]> <html class="no-js lt-ie10 lt-ie9" lang="en-us"> <![endif]-->
<!--[if lt IE 10]> <html class="no-js lt-ie10" lang="en-us"> <![endif]-->
<!--[if !IE]> > <![endif]-->
<html class='no-js' lang='en'>
<!-- <![endif] -->
<head>
  <link href="/tufte.css" rel="stylesheet" type="text/css" />
  <meta charset="UTF-8">
  <meta name="author" content="Tristan Juricek">
  <meta name="description" content="Personal blog of Tristan Juricek. Focus is primarily on technology related thoughts, and general software programmming." >
  <meta name="keywords" content="Tristan Juricek,programming,software,technology,blog,kotlin,java,gradle">
  <meta name="referrer" content="origin" >
  <title>Tristan Mumbles, Online!</title>
</head>
<body>
  <article>
    <h1><%= doctitle %></h1>
    <p>
      <a href="/contact.html">Contact</a> | <a href="/atom.xml">Atom</a>
    </p>
    <%= content %>
  </article>
  <footer>
    <div>
      <p> Copyright &copy; 2018&ndash;2019, Tristan Juricek</p>
    </div>
  </footer>
</body>
</html>
