<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7" lang="en-us"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie10 lt-ie9 lt-ie8" lang="en-us"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie10 lt-ie9" lang="en-us"> <![endif]-->
<!--[if IE 9]> <html class="no-js lt-ie10 lt-ie9" lang="en-us"> <![endif]-->
<!--[if lt IE 10]> <html class="no-js lt-ie10" lang="en-us"> <![endif]-->
<!--[if !IE]> > <![endif]-->
<html class='no-js' lang='en'>
<!-- <![endif] -->
<head>
  <link href="/tufte.css" rel="stylesheet" type="text/css" />
  <meta charset="UTF-8">
  <%
  [:description, :keywords, :author, :copyright].each do |key|
    if attr? key %>
  <meta name="<%= key %>" content="<%= attr key %>"><%
    end
  end %>
  <% if attr? :image %>
  <meta property="og:image" content="<%= attr :image %>">
  <% end %>
  <meta name="referrer" content="origin">
  <title><%= doctitle(:sanitize => true) || (attr 'untitled-label') %></title>
</head>
<body>
  <article>
    <h1><%= doctitle %></h1>
    <p>
        <%= revdate %>
        <label for="sn-top" class="margin-toggle sidenote-number"></label>
        <input type="checkbox" id="sn-top" class="margin-toggle"/>
        <span class='sidenote'><a href="/">Back to top.</a></span>
    </p>
    <%= content %>
    <br/>
    <p>Back to <a href="/">top</a>.</p>
  </article>
  <footer>
    <div>
      <p>  Copyright &copy; 2018&ndash;2019, Tristan Juricek</p>
    </div>
  </footer>
</body>
</html>
